.ks-chart-default-tip{
	background: #fff;
	filter:alpha(opacity =90);
	-moz-opacity:0.9 ;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-moz-border-radius:  4px 4px   4px 4px;
    -webkit-border-radius: 4px 4px   4px 4px;
    border-radius:4px 4px  4px 4px ;
    padding:2px 4px;
	color:#666;
	font-family: Microsoft Yahei;
	z-index: 10;
	font-size: 12px;
	font-weight: bolder;
	border: 3px solid;
}
.ks-chart-default-tip span{
	font-weight: normal;
}

.ks-chart-analytiks-tip{
	color:#fff;
	padding:2px 40px 2px 10px;
	-moz-box-shadow:2px 2px 2px #bbb; 
	-webkit-box-shadow:2px 2px 2px #bbb; 
	box-shadow:2px 2px 2px #bbb; 
	font-family: Microsoft Yahei;
}
.ks-chart-analytiks-tip h3{
	font-size: 16px;
	font-family: Microsoft Yahei;
	color:#666;
}
.ks-chart-analytiks-tip span{
	font-size: 12px;
}

.ks-chart-rainbow-tip{
	color:#fff;
	padding:2px 40px 2px 10px;
	-moz-box-shadow:2px 2px 2px #bbb; 
	-webkit-box-shadow:2px 2px 2px #bbb; 
	box-shadow:2px 2px 2px #bbb; 
	font-family: Microsoft Yahei;
}
.ks-chart-rainbow-tip h3{
	font-size: 16px;
	font-family: Microsoft Yahei;
	color:#666;
}
.ks-chart-rainbow-tip span{
	font-size: 12px;
}
