.ks-chart-default-tip,.ks-chart-analytiks-tip,.ks-chart-rainbow-tip{
	background: #fff;
	filter:alpha(opacity =90);
	-moz-opacity:0.9 ;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	-moz-border-radius:  10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    padding:10px;
	color:#666;
	font-family: Microsoft Yahei;
	z-index: 10;
	font-size: 12px;
	font-weight: bolder;
	box-shadow:5px 5px 5px 5px #ccc;
}
.ks-chart-default-tip span,.ks-chart-analytiks-tip span,.ks-chart-rainbow-tip span{
	font-weight: normal;
}

